<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="{{ domain }}css/style.css?v={{ microtime }}">
    <link rel="stylesheet" href="{{ domain }}css/galery.css?v={{ microtime }}">
    <link rel="stylesheet" href="{{ domain }}css/style_category.css?v={{ microtime }}">
    <link rel="stylesheet" href="{{ domain }}css/style_catalog.css?v={{ microtime }}">
    <link rel="stylesheet" href="{{ domain }}css/photogalery.css?v={{ microtime }}">
    <link rel="stylesheet" href="{{ domain }}css/buttons.css?v={{ microtime }}">
	<link rel="stylesheet" href="{{ domain }}css/register.css?v={{ microtime }}">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>{{ title }}</title>
    <script src="js/galery.js?v={{ microtime }}; ?>"></script>
	<script src="/js/ajax.js?v={{ microtime }}" type="text/javascript"></script>
        <!--Скрипт для AJAX -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <!-- Окончание скрипта AJAX -->
</head>
